<div class="column">
  <nav class="panel">
    <p class="panel-heading">who to follow</p>

  </nav>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://media.gettyimages.com/photos/white-vans-and-buses-jockey-for-position-at-a-depot-in-kampala-uganda-picture-id654819032?s=612x612">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Emma Isa </strong>
            <small>@sonibil</small>
          </p>
        </div>
      </div>
    </article>
  </div>
   <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://media.gettyimages.com/photos/white-vans-and-buses-jockey-for-position-at-a-depot-in-kampala-uganda-picture-id654819032?s=612x612">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong> Emma Isa </strong>
            <small>@sonibil</small>
          </p>
        </div>
      </div>
    </article>
  </div>
</nav>